<h1 class='page-header'>Tent Migrate</h1>

<p class='lead'>To get started, authenticate with both your Tent servers.</p>

<div class='row'>
  <div class='span6 <%= auth_container_class(:export) %>'>
    <h3>Server to export from</h3>
    <%= erb :export_auth_form, :locals => { :entity => @export_entity } %>
  </div>

  <div class='span6 <%= auth_container_class(:import) %>'>
    <h3>Server to import to</h3>
    <%= erb :import_auth_form, :locals => { :entity => nil } %>
  </div>
</div>

<% if @export_entity %>
  <form action='/jobs/<%= @job_key %>' method='POST'>
    <%= method_override 'DELETE' %>
    <input type='submit' class='btn btn-danger' value='Cancel and start over' />
  </form>
<% end %>
