<h1 class='page-header'>Stats Page</h1>
<p class='lead'>Started at <%= Time.at(@stats.started_at.to_i) %>, Finished at <%= @stats.finished_at ? Time.at(@stats.finished_at.to_i).to_s + " (#{@stats.finished_at.to_i - @stats.started_at.to_i} seconds)" : 'pending...' %></p>

<div class='row'>
  <div class='span2'>
    <h4>Apps</h4>
    <p><%= @stats.exported_apps_count.to_i %> Exported</p>
    <p><%= @stats.imported_apps_count.to_i %> Imported</p>
  </div>

  <div class='span2'>
    <h4>Posts</h4>
    <p><%= @stats.exported_posts_count.to_i %> Exported</p>
    <p><%= @stats.imported_posts_count.to_i %> Imported</p>
    <% if @stats.finished_at && @stats.failed_post_ids.any? %>
      <p>Failed post ids: <%= @stats.failed_post_ids.join(", ") %></p>
    <% end %>
  </div>

  <div class='span2'>
    <h4>Groups</h4>
    <p><%= @stats.exported_groups_count.to_i %> Exported</p>
    <p><%= @stats.imported_groups_count.to_i %> Imported</p>
  </div>

  <div class='span2'>
    <h4>Followers</h4>
    <p><%= @stats.exported_followers_count.to_i %> Exported</p>
    <p><%= @stats.imported_followers_count.to_i %> Imported</p>
  </div>

  <div class='span2'>
    <h4>Followings</h4>
    <p><%= @stats.exported_followings_count.to_i %> Exported</p>
    <p><%= @stats.imported_followings_count.to_i %> Imported</p>
  </div>

  <div class='span2'>
    <h4>Profile Infos</h4>
    <p><%= @stats.profile_infos_count.to_i %> Exported</p>
    <p><%= @stats.imported_profile_infos_count.to_i %> Imported</p>
  </div>

  <div class='span2'>
    <p><%= @stats.errors_count.to_i %> Errors</p>
  </div>

  <% unless @stats.finished_at %>
    <script type='text/javascript'>
      setTimeout(function(){ window.location.reload(); }, 5000);
    </script>
  <% end %>
</div>
