<h1 class='page-header'>Stats Page</h1>

<div class='row'>
  <div class='span2'>
    <h4>Apps</h4>
    <p><%= @stats.apps_count.to_i %> Total</p>
    <p><%= @stats.exported_apps_count.to_i %> Exported</p>
    <p><%= @stats.imported_apps_count.to_i %> Imported</p>
  </div>

  <div class='span2'>
    <h4>Posts</h4>
    <p><%= @stats.posts_count.to_i %> Total</p>
    <p><%= @stats.exported_posts_count.to_i %> Exported</p>
    <p><%= @stats.imported_posts_count.to_i %> Imported</p>
  </div>

  <div class='span2'>
    <h4>Groups</h4>
    <p><%= @stats.groups_count.to_i %> Total</p>
    <p><%= @stats.exported_groups_count.to_i %> Exported</p>
    <p><%= @stats.imported_groups_count.to_i %> Imported</p>
  </div>

  <div class='span2'>
    <h4>Followers</h4>
    <p><%= @stats.followers_count.to_i %> Total</p>
    <p><%= @stats.exported_followers_count.to_i %> Exported</p>
    <p><%= @stats.imported_followers_count.to_i %> Imported</p>
  </div>

  <div class='span2'>
    <h4>Followings</h4>
    <p><%= @stats.followings_count.to_i %> Total</p>
    <p><%= @stats.exported_followings_count.to_i %> Exported</p>
    <p><%= @stats.imported_followings_count.to_i %> Imported</p>
  </div>
</div>
